In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('dataset_advocate_performance.csv',index_col=False)

In [5]:
del df['Unnamed: 0'],df['id']

In [12]:
df.head(20)

,name,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
0,misri,Petition for Special Leave to Appeal,15,156290,39,618,6
1,tina,Original Suit,30,307280,54,598,8
2,dharmendera,Contempt Petition (Civil),14,145938,36,577,3
3,sukh,Arbitration Petition,10,105270,33,494,3
4,mairy,Transferred Case Petition,12,125168,33,566,9
5,sube,Contempt Petition (Criminal),27,276080,49,753,9
6,mangala,Criminal Appeal Petition,34,347244,55,774,8
7,soona,Contempt Petition (Civil),23,235322,46,289,4
8,bhemji,Transferred Case Petition,31,316519,55,307,6
9,masheen,Original Suit,32,327720,55,74,1
10,chandkor,Original Suit,13,135468,36,361,4
11,shakti,Transferred Case Petition,15,155555,36,234,3
12,sanju,Contempt Petition (Criminal),15,156200,37,440,6
13,jaidul,Contempt Petition (Civil),33,336716,55,713,7
14,aishe,Transferred Case Petition,14,146344,35,272,5
15,shoukat,Contempt Petition (Civil),15,156230,38,336,4
16,janid,Transferred Case Petition,33,335099,55,90,1
17,preeti,Arbitration Petition,26,267288,49,249,8
18,akaash,Writ Petition,33,337508,57,138,1
19,radhamohan,Criminal Appeal Petition,39,395234,60,121,8

In [11]:
df['experience (yrs)'] = df['experience (yrs)'].astype(int)
df['active cases'] = df['active cases'].astype(int)

In [13]:
types_of_cases = ["Arbitration Petition","Civil (Appeal) Petition","Contempt Petition (Civil)","Contempt Petition (Criminal)","Criminal Appeal Petition","Election Petition","Original Suit","Petition for Special Leave to Appeal","Transferred Case Petition","Writ Petition"]

In [14]:
for i in range(len(types_of_cases)):
    print(i+1,types_of_cases[i])

1 Arbitration Petition
2 Civil (Appeal) Petition
3 Contempt Petition (Civil)
4 Contempt Petition (Criminal)
5 Criminal Appeal Petition
6 Election Petition
7 Original Suit
8 Petition for Special Leave to Appeal
9 Transferred Case Petition
10 Writ Petition

In [15]:
print("Enter your desired speciality from advocate:\n")
for i in range(len(types_of_cases)):
    print(f"{i+1} for {types_of_cases[i]}")

sp = int(input(":"))

Enter your desired speciality from advocate:

1 for Arbitration Petition
2 for Civil (Appeal) Petition
3 for Contempt Petition (Civil)
4 for Contempt Petition (Criminal)
5 for Criminal Appeal Petition
6 for Election Petition
7 for Original Suit
8 for Petition for Special Leave to Appeal
9 for Transferred Case Petition
10 for Writ Petition
:10

In [16]:
d = df[df['speciality']==types_of_cases[sp-1]]
actual_order=[]
inp_order = []

In [17]:
d.head()

,name,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
18,akaash,Writ Petition,33,337508,57,138,1
30,kavit,Writ Petition,39,395546,60,303,7
49,amita,Writ Petition,13,135273,36,77,4
52,daljeet,Writ Petition,12,125612,33,316,5
64,aashiya,Writ Petition,35,357870,58,210,5

In [19]:
features = ["experience (yrs)","fees","age","avg resolve time (days)","active cases"]

In [20]:
print("Enter priority of these features as(1-5) where 1 being the highest:")
print("1 experience\n2 fees\n3 age\n4 avg resolve time (days)\n5 active cases\n")
actual_order = []
for i in range(len(features)):
    print(f"Enter your priority {i+1} paramater feature (1-5)")
    n = int(input())
    actual_order.append(str(features[n-1]))

Enter priority of these features as(1-5) where 1 being the highest:
1 experience
2 fees
3 age
4 avg resolve time (days)
5 active cases

Enter your priority 1 paramater feature (1-5)
2
Enter your priority 2 paramater feature (1-5)
1
Enter your priority 3 paramater feature (1-5)
3
Enter your priority 4 paramater feature (1-5)
4
Enter your priority 5 paramater feature (1-5)
5

In [21]:
print(actual_order)
# print(str(actual_order))
order_list = [True]*len(features)
for i in range(len(actual_order)):
    if actual_order[i]=='experience (yrs)':
        order_list[i] = False
print(order_list)

['fees', 'experience (yrs)', 'age', 'avg resolve time (days)', 'active cases']
[True, False, True, True, True]

In [22]:
d = d.sort_values(by=actual_order,ascending=order_list)
d = d.reset_index(drop=True)

In [23]:
d.head(30)

,name,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
0,lala,Writ Petition,0,5000,21,599,5
1,nurbi,Writ Petition,0,5000,21,746,3
2,apsana,Writ Petition,0,5000,22,144,9
3,shanah,Writ Petition,0,5000,22,198,8
4,maheshar,Writ Petition,0,5000,22,365,7
5,badarjahan,Writ Petition,0,5000,22,383,8
6,khushboo,Writ Petition,0,5000,22,428,6
7,ghasiram,Writ Petition,0,5000,22,560,6
8,basanti,Writ Petition,0,5000,23,65,2
9,megharam,Writ Petition,0,5000,23,180,7
10,saveena,Writ Petition,0,5000,23,233,1
11,choturam,Writ Petition,0,5000,23,276,2
12,somdevi,Writ Petition,0,5000,23,423,2
13,neemi,Writ Petition,0,5000,23,453,1
14,shanichari,Writ Petition,0,5000,23,539,1
15,khurshida,Writ Petition,0,5000,24,175,3
16,kalusingh,Writ Petition,0,5000,24,200,8
17,kesavi,Writ Petition,0,5000,24,232,4
18,dharamveer,Writ Petition,0,5000,24,620,8
19,pujja,Writ Petition,0,5000,24,657,8
20,narayani,Writ Petition,1,15004,23,34,9
21,sandya,Writ Petition,1,15005,23,267,9
22,devender,Writ Petition,1,15012,22,647,5
23,harinarayan,Writ Petition,1,15016,25,438,1
24,akshat,Writ Petition,1,15026,23,742,3
25,kali,Writ Petition,1,15030,25,397,3
26,bhagwanti,Writ Petition,1,15034,23,616,8
27,rachna(with,Writ Petition,1,15035,25,154,9
28,momin,Writ Petition,1,15037,23,557,6
29,dropti,Writ Petition,1,15043,24,407,9