In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df = pd.read_excel('advocate_performance.xlsx')

In [3]:
df.head()

,name,id,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
0,misri,0,NaN,NaN,NaN,NaN,NaN,NaN
1,tina,1,NaN,NaN,NaN,NaN,NaN,NaN
2,dharmendera,2,NaN,NaN,NaN,NaN,NaN,NaN
3,sukh,3,NaN,NaN,NaN,NaN,NaN,NaN
4,mairy,4,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
types_of_cases = ["Arbitration Petition","Civil (Appeal) Petition","Contempt Petition (Civil)","Contempt Petition (Criminal)","Criminal Appeal Petition","Election Petition","Original Suit","Petition for Special Leave to Appeal","Transferred Case Petition","Writ Petition"]

In [11]:
for i in range(len(df)):
    df['id'][i] = len(df)*100000+df['id'][i]
    
    df['experience (yrs)'][i] = np.random.randint(low=0,high=40)
    
    df['fees'][i] = df['experience (yrs)'][i]*10000 + 5000
    
    df['age'][i] = int(df['experience (yrs)'][i]+25)

    df['avg resolve time (days)'][i] = np.random.randint(low=30,high=800)
    
    df['active cases'][i] = np.random.randint(low=1,high=10)
    
    df['speciality'][i] = random.choice(types_of_cases)
    
df['age'] = df['age'].astype(int)
df['fees'] = df['fees'].astype(int)    
df['avg resolve time (days)'] = df['avg resolve time (days)'].astype(int)

C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'][i] = len(df)*100000+df['id'][i]
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience (yrs)'][i] = np.random.randint(low=0,high=40)
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fees'][i] = df['experience (yrs)'][i]*10000 + 5000
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'][i] = int(df['experience (yrs)'][i]+25)
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg resolve time (days)'][i] = np.random.randint(low=30,high=800)
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['active cases'][i] = np.random.randint(low=1,high=10)
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['speciality'][i] = random.choice(types_of_cases)

In [12]:
df.head()

,name,id,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
0,misri,131231100,Arbitration Petition,20.0,205000,45,85,1.0
1,tina,131231101,Petition for Special Leave to Appeal,38.0,385000,63,597,5.0
2,dharmendera,131231102,Criminal Appeal Petition,34.0,345000,59,613,7.0
3,sukh,131231103,Election Petition,34.0,345000,59,186,1.0
4,mairy,131231104,Writ Petition,4.0,45000,29,74,3.0

In [10]:
df.head()

,name,id,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
0,misri,31131100,Contempt Petition (Civil),32.0,325000,57,354,1.0
1,tina,31131101,Original Suit,37.0,375000,62,560,8.0
2,dharmendera,31131102,Contempt Petition (Criminal),23.0,235000,48,616,5.0
3,sukh,31131103,Original Suit,3.0,35000,28,509,8.0
4,mairy,31131104,Writ Petition,26.0,265000,51,747,5.0

In [13]:
df.to_csv("dataset_advocate_performance.csv")