In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset_advocate_performance.csv',index_col=False)

In [3]:
del df['Unnamed: 0']

In [4]:
df.head(20)

,name,id,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
0,misri,131231100,Arbitration Petition,20.0,205000,45,85,1.0
1,tina,131231101,Petition for Special Leave to Appeal,38.0,385000,63,597,5.0
2,dharmendera,131231102,Criminal Appeal Petition,34.0,345000,59,613,7.0
3,sukh,131231103,Election Petition,34.0,345000,59,186,1.0
4,mairy,131231104,Writ Petition,4.0,45000,29,74,3.0
5,sube,131231105,Contempt Petition (Civil),16.0,165000,41,383,2.0
6,mangala,131231106,Transferred Case Petition,28.0,285000,53,318,2.0
7,soona,131231107,Civil (Appeal) Petition,14.0,145000,39,189,9.0
8,bhemji,131231108,Contempt Petition (Civil),26.0,265000,51,554,3.0
9,masheen,131231109,Election Petition,32.0,325000,57,183,4.0
10,chandkor,131231110,Election Petition,9.0,95000,34,539,1.0
11,shakti,131231111,Election Petition,5.0,55000,30,160,4.0
12,sanju,131231112,Contempt Petition (Civil),21.0,215000,46,590,6.0
13,jaidul,131231113,Writ Petition,30.0,305000,55,311,2.0
14,aishe,131231114,Contempt Petition (Civil),30.0,305000,55,323,3.0
15,shoukat,131231115,Transferred Case Petition,15.0,155000,40,134,8.0
16,janid,131231116,Petition for Special Leave to Appeal,38.0,385000,63,459,4.0
17,preeti,131231117,Contempt Petition (Civil),25.0,255000,50,179,6.0
18,akaash,131231118,Arbitration Petition,34.0,345000,59,87,4.0
19,radhamohan,131231119,Transferred Case Petition,11.0,115000,36,773,9.0

In [5]:
types_of_cases = ["Arbitration Petition","Civil (Appeal) Petition","Contempt Petition (Civil)","Contempt Petition (Criminal)","Criminal Appeal Petition","Election Petition","Original Suit","Petition for Special Leave to Appeal","Transferred Case Petition","Writ Petition"]

In [6]:
print("Enter your desired speciality from advocate:\n")
for i in range(len(types_of_cases)):
    print(f"{i+1} for {types_of_cases[i]}")

sp = int(input(":"))

Enter your desired speciality from advocate:

1 for Arbitration Petition
2 for Civil (Appeal) Petition
3 for Contempt Petition (Civil)
4 for Contempt Petition (Criminal)
5 for Criminal Appeal Petition
6 for Election Petition
7 for Original Suit
8 for Petition for Special Leave to Appeal
9 for Transferred Case Petition
10 for Writ Petition
:3

In [7]:
d = df[df['speciality']==types_of_cases[sp-1]]
actual_order=[]
inp_order = []

In [8]:
d.head()

,name,id,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
5,sube,131231105,Contempt Petition (Civil),16.0,165000,41,383,2.0
8,bhemji,131231108,Contempt Petition (Civil),26.0,265000,51,554,3.0
12,sanju,131231112,Contempt Petition (Civil),21.0,215000,46,590,6.0
14,aishe,131231114,Contempt Petition (Civil),30.0,305000,55,323,3.0
17,preeti,131231117,Contempt Petition (Civil),25.0,255000,50,179,6.0

In [9]:
features = ["experience (yrs)","fees","age","avg resolve time (days)","active cases"]

In [10]:
print("Enter priority of these features as(1-5) where 1 being the highest:")
print("1 experience\n2 fees\n3 age\n4 avg resolve time (days)\n5 active cases\n")
actual_order = []
for i in range(len(features)):
    print(f"Enter your priority {i+1} paramater feature (1-5)")
    n = int(input())
    actual_order.append(str(features[n-1]))

Enter priority of these features as(1-5) where 1 being the highest:
1 experience
2 fees
3 age
4 avg resolve time (days)
5 active cases

Enter your priority 1 paramater feature (1-5)
2
Enter your priority 2 paramater feature (1-5)
1
Enter your priority 3 paramater feature (1-5)
3
Enter your priority 4 paramater feature (1-5)
4
Enter your priority 5 paramater feature (1-5)
5

In [11]:
print(actual_order)
# print(str(actual_order))
order_list = [True]*len(features)
for i in range(len(actual_order)):
    if actual_order[i]=='experience (yrs)':
        order_list[i] = False
print(order_list)

['fees', 'experience (yrs)', 'age', 'avg resolve time (days)', 'active cases']
[True, False, True, True, True]

In [12]:
d = d.sort_values(by=actual_order,ascending=order_list)
d = d.reset_index(drop=True)

In [13]:
d.head(30)

,name,id,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
0,vikrant,131231156,Contempt Petition (Civil),0.0,5000,25,83,7.0
1,gulwasha,131231410,Contempt Petition (Civil),1.0,15000,26,32,1.0
2,rashmi,131232006,Contempt Petition (Civil),1.0,15000,26,170,9.0
3,shahabuddin,131231824,Contempt Petition (Civil),1.0,15000,26,188,9.0
4,shana,131231153,Contempt Petition (Civil),1.0,15000,26,279,6.0
5,ashraf,131231967,Contempt Petition (Civil),1.0,15000,26,392,7.0
6,rijakpal,131231653,Contempt Petition (Civil),2.0,25000,27,190,7.0
7,hemanshu,131231726,Contempt Petition (Civil),2.0,25000,27,318,5.0
8,veronika,131231927,Contempt Petition (Civil),3.0,35000,28,524,5.0
9,dhirender,131231280,Contempt Petition (Civil),3.0,35000,28,595,2.0
10,sahawaj,131231935,Contempt Petition (Civil),4.0,45000,29,769,5.0
11,chhanya,131231251,Contempt Petition (Civil),5.0,55000,30,456,5.0
12,bhudhashen,131231230,Contempt Petition (Civil),5.0,55000,30,640,6.0
13,ranjita,131231947,Contempt Petition (Civil),5.0,55000,30,663,2.0
14,tania,131231783,Contempt Petition (Civil),5.0,55000,30,686,7.0
15,kiran,131231738,Contempt Petition (Civil),6.0,65000,31,578,3.0
16,baliram,131231901,Contempt Petition (Civil),8.0,85000,33,118,9.0
17,phakir,131231282,Contempt Petition (Civil),8.0,85000,33,193,5.0
18,jitin,131231827,Contempt Petition (Civil),8.0,85000,33,299,5.0
19,rishi,131232071,Contempt Petition (Civil),8.0,85000,33,448,3.0
20,mansavi,131231154,Contempt Petition (Civil),8.0,85000,33,785,5.0
21,chabi,131231808,Contempt Petition (Civil),9.0,95000,34,200,6.0
22,aditya,131231640,Contempt Petition (Civil),10.0,105000,35,499,9.0
23,taiyab,131231707,Contempt Petition (Civil),10.0,105000,35,630,3.0
24,avi,131231873,Contempt Petition (Civil),11.0,115000,36,360,9.0
25,riyajudin,131231409,Contempt Petition (Civil),12.0,125000,37,724,7.0
26,laxmi,131231473,Contempt Petition (Civil),13.0,135000,38,32,9.0
27,pawansingh,131231673,Contempt Petition (Civil),13.0,135000,38,203,2.0
28,aamil,131231900,Contempt Petition (Civil),13.0,135000,38,429,9.0
29,saranthem,131231905,Contempt Petition (Civil),13.0,135000,38,521,4.0