In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df = pd.read_excel('advocate_performance.xlsx')

In [3]:
df.head()

,name,id,speciality,experience (yrs),fees,age,avg resolve time (days),active cases
0,misri,0,NaN,NaN,NaN,NaN,NaN,NaN
1,tina,1,NaN,NaN,NaN,NaN,NaN,NaN
2,dharmendera,2,NaN,NaN,NaN,NaN,NaN,NaN
3,sukh,3,NaN,NaN,NaN,NaN,NaN,NaN
4,mairy,4,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
types_of_cases = ["Arbitration Petition","Civil (Appeal) Petition","Contempt Petition (Civil)","Contempt Petition (Criminal)","Criminal Appeal Petition","Election Petition","Original Suit","Petition for Special Leave to Appeal","Transferred Case Petition","Writ Petition"]

In [11]:
for i in range(len(df)):
    df['id'][i] = len(df)*100000+df['id'][i]
    
    df['experience (yrs)'][i] = np.random.randint(low=0,high=40)
    
    df['fees'][i] = df['experience (yrs)'][i]*np.random.randint(low=10000,high=10100) + 5000
    
    df['age'][i] = int(df['experience (yrs)'][i]+np.random.randint(low=21,high=25))

    df['avg resolve time (days)'][i] = np.random.randint(low=30,high=800)
    
    df['active cases'][i] = np.random.randint(low=1,high=10)
    
    df['speciality'][i] = random.choice(types_of_cases)
    
df['age'] = df['age'].astype(int)
df['fees'] = df['fees'].astype(int)    
df['avg resolve time (days)'] = df['avg resolve time (days)'].astype(int)

C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'][i] = len(df)*100000+df['id'][i]
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience (yrs)'][i] = np.random.randint(low=0,high=40)
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fees'][i] = df['experience (yrs)'][i]*10000 + 5000
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'][i] = int(df['experience (yrs)'][i]+25)
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg resolve time (days)'][i] = np.random.randint(low=30,high=800)
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['active cases'][i] = np.random.randint(low=1,high=10)
C:\Users\AK-47\AppData\Local\Temp/ipykernel_8268/4281693829.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['speciality'][i] = random.choice(types_of_cases)

In [13]:
df.to_csv("dataset_advocate_performance.csv")