In [1]:
#ref:- ILDC CJPE GITHUB

In [2]:
# pip install sklearn

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [4]:
df = pd.read_csv("/media/anubhav/New Volume/vidhaan/dataset/data/ILDC_single/ILDC_single.csv")

In [5]:
# NUM_CLASSES = 2
# n_epochs = 20

In [6]:
train_set = df.query(" split=='train' ")
test_set = df.query(" split=='test' ")
val_set = df.query(" split=='dev' ")

In [7]:
del train_set['split'],train_set['name'],val_set['split'],val_set['name'],test_set['split'],test_set['name']

In [8]:
# train_set.to_csv('/media/anubhav/New Volume/vidhaan/petition_acceptance/petition_data.csv',index=False)

In [9]:
train_set.head(10)

                                                text  label
0   F. NARIMAN, J. Leave granted. In 2008, the Pu...      1
1   S. THAKUR, J. Leave granted. These appeals ar...      0
2   Markandey Katju, J. Leave granted. Heard lear...      1
3   ALTAMAS KABIR,J. Leave granted. The question ...      1
4   CIVIL APPEAL NO. 598 OF 2007 K. MATHUR, J. Th...      1
5  O R D E R CIVIL APPEAL NOS. 85-86 OF 2002 Thes...      0
6   O R D E R Arising out of S.L.P C  No.3358 of ...      1
7   SANTOSH HEGDE, J. Noticing certain companytra...      0
8   2004  3   SCR 534 WITH W.P.  C  No. 852/91, C...      0
9    Arising out SLP  c  No. 16202 of 2003  With ...      1

In [10]:
# x_train, x_test, y_train, y_test = train_test_split(train_set.text, train_set.label, random_state=42,shuffle=True,test_size=0.,train_size=1.0)

In [11]:
x_train = train_set['text']
y_train = train_set['label']

x_test = test_set['text']
y_test = test_set['label']

x_val = val_set['text']
y_val = val_set['label']

In [12]:
# del train_set,val_set,test_set

In [13]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(5082,)
(5082,)
(1517,)
(1517,)

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

train_vectors = vectorizer.fit_transform(x_train)

In [15]:
clf = linear_model.RidgeClassifier()

scores = model_selection.cross_val_score(clf, train_vectors, y=y_train, cv=17, scoring="f1")
scores

array([0.4       , 0.32051282, 0.24657534, 0.27631579, 0.30666667,
       0.37974684, 0.2962963 , 0.32911392, 0.4       , 0.41573034,
       0.43617021, 0.46231156, 0.45226131, 0.43850267, 0.43157895,
       0.45320197, 0.54      ])

In [16]:
clf.fit(train_vectors,y_train)

RidgeClassifier()

In [17]:
test_vectors = vectorizer.transform(x_test)

In [18]:
test_set.head()

                                                   text  label
5082  civil appellate jurisdiction civil appeal numb...      1
5083  criminal appellate jurisdiction special leave ...      0
5084  criminal appellate jurisdiction criminal appea...      0
5085  civil appellate jurisdiction civil appeal numb...      0
5086  civil appellate jurisdiction civil appeal numb...      1

In [19]:
test_set['Prediction'] = clf.predict(test_vectors)

/home/anubhav/miniconda3/envs/vidhaan/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
test_set.head()

                                                   text  label  Prediction
5082  civil appellate jurisdiction civil appeal numb...      1           0
5083  criminal appellate jurisdiction special leave ...      0           0
5084  criminal appellate jurisdiction criminal appea...      0           1
5085  civil appellate jurisdiction civil appeal numb...      0           1
5086  civil appellate jurisdiction civil appeal numb...      1           0

In [21]:
test_set = test_set.reset_index(drop=True)

In [22]:
test_set.head()

                                                text  label  Prediction
0  civil appellate jurisdiction civil appeal numb...      1           0
1  criminal appellate jurisdiction special leave ...      0           0
2  criminal appellate jurisdiction criminal appea...      0           1
3  civil appellate jurisdiction civil appeal numb...      0           1
4  civil appellate jurisdiction civil appeal numb...      1           0

In [23]:
lbl,pred = list(test_set['label']),list(test_set['Prediction'])

In [24]:
right,wrong = 0,0

for i in range(len(lbl)):
    if lbl[i]==pred[i]:   #correct pred
        right+=1
    else:
        wrong+=1          #wrong pred

In [25]:
print(f"Accuracy: {100*(right/len(lbl))}")
print(f"Right predictions: {right}")
print(f"Wrong predictions: {wrong}")

Accuracy: 58.40474620962426
Right predictions: 886
Wrong predictions: 631

In [26]:
# x_train.str.len()